#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #servers {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 80%;
    margin-left:10%; 
    margin-right:15%;
  }
  
  #servers td, #servers th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 20px;
    
    
  }
  
  #servers tr:nth-child(even){background-color: #f2f2f2;}
  
  #servers tr:hover {background-color: rgb(206, 241, 209);}
  
  #servers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(73, 212, 78);
    color: white;
  }
  
  